Repository TF3-Project-PhotoSpot/photospot-be, pull requests merged in 2023-12, with the labels that each got.

#18 [Feat] JWT 유효성 검증 및 액세스 토큰 재발급 구현
  src/docs/asciidoc/api/auth/login.adoc
  src/docs/asciidoc/api/auth/reissue.adoc
  src/main/java/com/tf4/photospot/auth/application/AuthService.java
  src/main/java/com/tf4/photospot/auth/application/JwtService.java
  src/main/java/com/tf4/photospot/auth/application/response/ReissueTokenResponse.java
  src/main/java/com/tf4/photospot/auth/domain/JwtRepository.java
  src/main/java/com/tf4/photospot/auth/presentation/AuthController.java
  src/main/java/com/tf4/photospot/auth/presentation/request/ReissueRequest.java
  src/main/java/com/tf4/photospot/auth/util/JwtProvider.java
  src/main/java/com/tf4/photospot/global/config/jwt/JwtProperties.java
  src/main/java/com/tf4/photospot/global/exception/domain/AuthErrorCode.java
  src/main/java/com/tf4/photospot/user/application/UserService.java
  src/test/java/com/tf4/photospot/api/auth/JwtServiceTest.java
  src/test/java/com/tf4/photospot/auth/application/AuthServiceTest.java
  src/test/java/com/tf4/photospot/auth/application/JwtServiceTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/AuthControllerDocsTest.java
  src/test/java/com/tf4/photospot/user/application/UserServiceTest.java
Labels: test, feat, MVP 1차

#20 [Refactor] 테스트코드 수정
  src/test/java/com/tf4/photospot/IntegrationTestSupport.java
  src/test/java/com/tf4/photospot/auth/application/AuthServiceTest.java
  src/test/java/com/tf4/photospot/auth/application/JwtServiceTest.java
  src/test/java/com/tf4/photospot/spot/application/SpotServiceTest.java
  src/test/java/com/tf4/photospot/user/application/UserServiceTest.java
Labels: test, refactor

#22 [FIX] ci_v1, application.yml 수정
  .github/workflows/ci_v1.yml
  build.gradle
  settings.gradle
  src/main/java/com/tf4/photospot/post/application/request/PostUploadRequest.java
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: fix, setting, MVP 1차

#19 [Feat] 주변 추천 장소 조회 API
  build.gradle
  src/main/java/com/tf4/photospot/photo/domain/Photo.java
  src/main/java/com/tf4/photospot/photo/domain/PhotoRepository.java
  src/main/java/com/tf4/photospot/post/application/response/PostPreviewResponse.java
  src/main/java/com/tf4/photospot/post/domain/Post.java
  src/main/java/com/tf4/photospot/post/domain/PostRepository.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostJdbcRepository.java
  src/main/java/com/tf4/photospot/spot/application/SpotService.java
  src/main/java/com/tf4/photospot/spot/application/request/RecommendedSpotsRequest.java
  src/main/java/com/tf4/photospot/spot/application/response/RecommendedSpotListResponse.java
  src/main/java/com/tf4/photospot/spot/application/response/RecommendedSpotResponse.java
  src/main/java/com/tf4/photospot/spot/application/response/RecommendedSpotsResponse.java
  src/main/java/com/tf4/photospot/spot/domain/Spot.java
  src/main/java/com/tf4/photospot/spot/infrastructure/SpotSearchRepository.java
  src/main/java/com/tf4/photospot/spot/presentation/SpotController.java
  src/main/java/com/tf4/photospot/spot/presentation/request/RecommendedSpotsHttpRequest.java
  src/main/java/com/tf4/photospot/spot/presentation/response/RecommendedSpotHttpResponse.java
  src/main/java/com/tf4/photospot/spot/presentation/response/RecommendedSpotListHttpResponse.java
  src/test/java/com/tf4/photospot/spot/application/SpotServiceTest.java
  src/test/java/com/tf4/photospot/spring/docs/RestDocsSupport.java
  src/test/java/com/tf4/photospot/spring/docs/spot/SpotControllerDocsTest.java
Labels: fix, docs, test, feat, MVP 1차

#17 [Feat] 주변 스팟 조회 API
  src/docs/asciidoc/api/spot/nearby-spots.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/tf4/photospot/PhotospotApplication.java
  src/main/java/com/tf4/photospot/global/config/JpaAuditingConfig.java
  src/main/java/com/tf4/photospot/global/dto/ApiResponse.java
  src/main/java/com/tf4/photospot/global/exception/GlobalExceptionHandler.java
  src/main/java/com/tf4/photospot/spot/application/SpotService.java
  src/main/java/com/tf4/photospot/spot/application/request/NearbySpotRequest.java
  src/main/java/com/tf4/photospot/spot/application/response/NearbySpotListResponse.java
  src/main/java/com/tf4/photospot/spot/application/response/NearbySpotResponse.java
  src/main/java/com/tf4/photospot/spot/domain/Spot.java
  src/main/java/com/tf4/photospot/spot/domain/SpotRepository.java
  src/main/java/com/tf4/photospot/spot/presentation/SpotController.java
  src/test/java/com/tf4/photospot/spot/application/SpotServiceTest.java
  src/test/java/com/tf4/photospot/spot/presentation/SpotControllerTest.java
  src/test/java/com/tf4/photospot/spring/docs/spot/SpotControllerDocsTest.java
Labels: test, feat, MVP 1차

#28 [Feat/PS-44] validation error response
  src/main/java/com/tf4/photospot/global/dto/ApiResponse.java
  src/main/java/com/tf4/photospot/global/dto/ErrorResponse.java
  src/main/java/com/tf4/photospot/global/dto/ValidationError.java
  src/main/java/com/tf4/photospot/global/exception/ApiException.java
  src/main/java/com/tf4/photospot/global/exception/GlobalExceptionHandler.java
  src/main/java/com/tf4/photospot/global/exception/domain/CommonErrorCode.java
  src/test/java/com/tf4/photospot/spot/presentation/SpotControllerTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/AuthControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/map/MapControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/spot/SpotControllerDocsTest.java
Labels: feat, refactor, MVP 1차
