Repository TF3-Project-PhotoSpot/photospot-be, pull requests merged in 2023-11, with the labels that each got.

#1 프로젝트 초기 세팅
  build.gradle
  src/main/java/com/photospot/project/ProjectApplication.java
  src/main/java/com/tf4/photospot/PhotospotApplication.java
  src/main/java/com/tf4/photospot/global/dto/ApiResponse.java
  src/main/java/com/tf4/photospot/global/dto/CoordinateDto.java
  src/main/java/com/tf4/photospot/global/entity/BaseEntity.java
  src/main/java/com/tf4/photospot/global/util/PointConverter.java
  src/main/java/com/tf4/photospot/photo/domain/Bubble.java
  src/main/java/com/tf4/photospot/photo/domain/Photo.java
  src/main/java/com/tf4/photospot/post/application/PostService.java
  src/main/java/com/tf4/photospot/post/application/request/SimplePostListRequest.java
  src/main/java/com/tf4/photospot/post/application/response/PostListResponse.java
  src/main/java/com/tf4/photospot/post/domain/Mention.java
  src/main/java/com/tf4/photospot/post/domain/Post.java
  src/main/java/com/tf4/photospot/post/domain/PostLike.java
  src/main/java/com/tf4/photospot/post/domain/PostTag.java
  src/main/java/com/tf4/photospot/post/domain/Tag.java
  src/main/java/com/tf4/photospot/post/presentation/PostController.java
  src/main/java/com/tf4/photospot/spot/application/SpotService.java
  src/main/java/com/tf4/photospot/spot/application/request/RecommendedSpotListServiceRequest.java
  src/main/java/com/tf4/photospot/spot/application/response/RecommendedSpot.java
  src/main/java/com/tf4/photospot/spot/application/response/RecommendedSpotListResponse.java
  src/main/java/com/tf4/photospot/spot/domain/BookmarkFolder.java
  src/main/java/com/tf4/photospot/spot/domain/Spot.java
  src/main/java/com/tf4/photospot/spot/domain/SpotBookmark.java
  src/main/java/com/tf4/photospot/spot/presentation/SpotController.java
  src/main/java/com/tf4/photospot/spot/presentation/request/RecommendedSpotListRequest.java
  src/main/java/com/tf4/photospot/user/domain/User.java
  src/main/resources/application.properties
  src/test/java/com/tf4/photospot/ProjectApplicationTests.java
  src/test/java/com/tf4/photospot/spring/docs/RestDocsSupport.java
  src/test/java/com/tf4/photospot/spring/docs/spot/SpotControllerDocsTest.java
Labels: enhancement

#6 [Feat] PR 템플릿 적용
  .github/pull_request_template.md
Labels: setting, MVP 1차

#4 [Feat] 좌표 custom Validation 추가
  build.gradle
  src/main/java/com/tf4/photospot/global/argument/CoordinateValidator.java
  src/main/java/com/tf4/photospot/global/argument/KoreaCoordinate.java
  src/main/java/com/tf4/photospot/global/dto/CoordinateDto.java
  src/main/java/com/tf4/photospot/global/exception/ApiException.java
  src/main/java/com/tf4/photospot/global/exception/GlobalExceptionHandler.java
  src/main/java/com/tf4/photospot/global/util/PointConverter.java
  src/main/java/com/tf4/photospot/spot/presentation/SpotController.java
  src/test/java/com/tf4/photospot/global/argument/CoordinateValidatorTest.java
  src/test/java/com/tf4/photospot/spot/application/SpotServiceTest.java
  src/test/java/com/tf4/photospot/spring/docs/spot/SpotControllerDocsTest.java
Labels: test, feat, MVP 1차

#5 [Feat] kakao oauth 로그인 및 jwt 발급 구현
  build.gradle
  src/docs/asciidoc/api/auth/login.adoc
  src/main/java/com/tf4/photospot/auth/application/AuthController.java
  src/main/java/com/tf4/photospot/auth/domain/jwt/RefreshToken.java
  src/main/java/com/tf4/photospot/auth/domain/oauth/OauthAttributes.java
  src/main/java/com/tf4/photospot/auth/domain/oauth/OauthRegistration.java
  src/main/java/com/tf4/photospot/auth/domain/oauth/OauthUserInfo.java
  src/main/java/com/tf4/photospot/auth/infrastructure/InMemoryRegistrationsRepository.java
  src/main/java/com/tf4/photospot/auth/infrastructure/JwtRepository.java
  src/main/java/com/tf4/photospot/auth/presentation/AuthService.java
  src/main/java/com/tf4/photospot/auth/presentation/JwtService.java
  src/main/java/com/tf4/photospot/auth/presentation/response/LoginTokenResponse.java
  src/main/java/com/tf4/photospot/auth/presentation/response/OauthTokenResponse.java
  src/main/java/com/tf4/photospot/auth/presentation/response/UserLoginResponse.java
  src/main/java/com/tf4/photospot/auth/util/NicknameGenerator.java
  src/main/java/com/tf4/photospot/auth/util/jwt/JwtProvider.java
  src/main/java/com/tf4/photospot/auth/util/oauth/OauthAdapter.java
  src/main/java/com/tf4/photospot/config/jwt/JwtProperties.java
  src/main/java/com/tf4/photospot/config/oauth/OauthConfig.java
  src/main/java/com/tf4/photospot/config/oauth/OauthProperties.java
  src/main/java/com/tf4/photospot/user/domain/User.java
  src/main/java/com/tf4/photospot/user/infrastructure/UserRepository.java
  src/main/java/com/tf4/photospot/user/presentation/UserService.java
  src/test/java/com/tf4/photospot/IntegrationTestSupport.java
  src/test/java/com/tf4/photospot/api/auth/JwtServiceTest.java
  src/test/java/com/tf4/photospot/api/user/UserServiceTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/AuthControllerDocsTest.java
Labels: test, feat, MVP 1차
