Repository TF3-Project-PhotoSpot/photospot-be, pull requests merged in 2024-02, with the labels that each got.

#46 [Feat] 방명록 등록 기능 구현
  build.gradle
  src/docs/asciidoc/api/auth/auth.adoc
  src/docs/asciidoc/api/map/map.adoc
  src/docs/asciidoc/api/photo/photo.adoc
  src/docs/asciidoc/api/post/post.adoc
  src/docs/asciidoc/api/spot/spot.adoc
  src/docs/asciidoc/api/user/user.adoc
  src/main/java/com/tf4/photospot/global/exception/domain/PostErrorCode.java
  src/main/java/com/tf4/photospot/global/exception/domain/S3UploaderErrorCode.java
  src/main/java/com/tf4/photospot/global/util/QueryDslUtils.java
  src/main/java/com/tf4/photospot/photo/application/PhotoService.java
  src/main/java/com/tf4/photospot/photo/application/S3Uploader.java
  src/main/java/com/tf4/photospot/photo/application/request/PhotoSaveRequest.java
  src/main/java/com/tf4/photospot/photo/application/response/PhotoSaveResponse.java
  src/main/java/com/tf4/photospot/photo/presentation/PhotoController.java
  src/main/java/com/tf4/photospot/post/application/PostService.java
  src/main/java/com/tf4/photospot/post/application/request/PostUploadRequest.java
  src/main/java/com/tf4/photospot/post/application/response/PostUploadResponse.java
  src/main/java/com/tf4/photospot/post/domain/Mention.java
  src/main/java/com/tf4/photospot/post/domain/MentionRepository.java
  src/main/java/com/tf4/photospot/post/domain/Post.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostJdbcRepository.java
  src/main/java/com/tf4/photospot/post/presentation/PostController.java
  src/main/java/com/tf4/photospot/post/presentation/request/PhotoInfoDto.java
  src/main/java/com/tf4/photospot/post/presentation/request/PostUploadHttpRequest.java
  src/main/java/com/tf4/photospot/post/presentation/request/SpotInfoDto.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/photo/application/PhotoServiceTest.java
  src/test/java/com/tf4/photospot/photo/application/S3UploaderTest.java
  src/test/java/com/tf4/photospot/post/application/PostServiceTest.java
  src/test/java/com/tf4/photospot/post/domain/PostTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/SecurityController.java
  src/test/java/com/tf4/photospot/spring/docs/photo/PhotoControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/post/PostControllerDocsTest.java
  src/test/java/com/tf4/photospot/support/TestFixture.java
Labels: test, feat, MVP 1차

#47 [Refactor/PS-75] 주변 스팟 조회
  src/main/java/com/tf4/photospot/spot/application/SpotService.java
  src/main/java/com/tf4/photospot/spot/application/response/NearbySpotResponse.java
  src/main/java/com/tf4/photospot/spot/domain/SpotRepository.java
  src/main/java/com/tf4/photospot/spot/infrastructure/SpotQueryRepository.java
Labels: refactor, MVP 1차

#51 [Feat] 좋아요한 방명록 목록 조회 기능
  src/docs/asciidoc/api/post/post.adoc
  src/main/java/com/tf4/photospot/post/application/request/PostSearchType.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostQueryRepository.java
  src/main/java/com/tf4/photospot/post/presentation/PostController.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/post/application/PostServiceTest.java
  src/test/java/com/tf4/photospot/post/application/request/PostSearchConditionTest.java
  src/test/java/com/tf4/photospot/spring/docs/post/PostControllerDocsTest.java
Labels: test, feat, MVP 2차

#48 [Feat] OAuth 로그인 검증 로직 추가
  .github/workflows/ci-cd.yml
  .github/workflows/code-analysis.yml
  build.gradle
  src/docs/asciidoc/api/auth/auth.adoc
  src/main/java/com/tf4/photospot/auth/application/AppleService.java
  src/main/java/com/tf4/photospot/auth/application/AuthService.java
  src/main/java/com/tf4/photospot/auth/application/JwtService.java
  src/main/java/com/tf4/photospot/auth/application/KakaoService.java
  src/main/java/com/tf4/photospot/auth/application/response/ApplePublicKeyResponse.java
  src/main/java/com/tf4/photospot/auth/application/response/AuthUserInfoDto.java
  src/main/java/com/tf4/photospot/auth/application/response/KakaoTokenInfoResponse.java
  src/main/java/com/tf4/photospot/auth/domain/OauthAttributes.java
  src/main/java/com/tf4/photospot/auth/infrastructure/AppleClient.java
  src/main/java/com/tf4/photospot/auth/infrastructure/KakaoClient.java
  src/main/java/com/tf4/photospot/auth/util/NicknameGenerator.java
  src/main/java/com/tf4/photospot/global/config/auth/AppleAuthConfig.java
  src/main/java/com/tf4/photospot/global/config/auth/KakaoAuthConfig.java
  src/main/java/com/tf4/photospot/global/config/security/SecurityConfig.java
  src/main/java/com/tf4/photospot/global/config/security/SecurityConstant.java
  src/main/java/com/tf4/photospot/global/exception/domain/AuthErrorCode.java
  src/main/java/com/tf4/photospot/global/filter/CustomAuthenticationFilter.java
  src/main/java/com/tf4/photospot/global/filter/details/CustomAuthenticationProvider.java
  src/main/java/com/tf4/photospot/global/filter/details/CustomAuthenticationSuccessHandler.java
  src/main/java/com/tf4/photospot/global/filter/details/CustomAuthenticationToken.java
  src/main/java/com/tf4/photospot/user/application/UserService.java
  src/main/java/com/tf4/photospot/user/application/response/OauthLoginResponse.java
  src/main/java/com/tf4/photospot/user/domain/Role.java
  src/main/java/com/tf4/photospot/user/util/NicknameGenerator.java
  src/main/resources/application.yml
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/auth/application/AuthServiceTest.java
  src/test/java/com/tf4/photospot/auth/application/JwtServiceTest.java
  src/test/java/com/tf4/photospot/auth/presentation/AuthControllerTest.java
  src/test/java/com/tf4/photospot/mockobject/WithCustomerMockUserSecurityContextFactory.java
  src/test/java/com/tf4/photospot/spring/docs/auth/SecurityController.java
  src/test/java/com/tf4/photospot/spring/docs/auth/SecurityControllerDocsTest.java
  src/test/java/com/tf4/photospot/user/application/UserServiceTest.java
  src/test/resources/application.yml
Labels: feat, MVP 1차

#53 [Feat] 앨범 기능 추가
  src/docs/asciidoc/api/album/album.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/tf4/photospot/album/application/AlbumService.java
  src/main/java/com/tf4/photospot/album/application/response/CreateAlbumPostResponse.java
  src/main/java/com/tf4/photospot/album/domain/Album.java
  src/main/java/com/tf4/photospot/album/domain/AlbumPost.java
  src/main/java/com/tf4/photospot/album/domain/AlbumPostRepository.java
  src/main/java/com/tf4/photospot/album/domain/AlbumRepository.java
  src/main/java/com/tf4/photospot/album/domain/AlbumUser.java
  src/main/java/com/tf4/photospot/album/domain/AlbumUserRepository.java
  src/main/java/com/tf4/photospot/album/infrastructure/AlbumJdbcRepository.java
  src/main/java/com/tf4/photospot/album/infrastructure/AlbumQueryRepository.java
  src/main/java/com/tf4/photospot/album/presentation/AlbumController.java
  src/main/java/com/tf4/photospot/album/presentation/request/CreateAlbumHttpRequest.java
  src/main/java/com/tf4/photospot/album/presentation/request/PostIdListHttpRequest.java
  src/main/java/com/tf4/photospot/album/presentation/response/CreateAlbumHttpResponse.java
  src/main/java/com/tf4/photospot/album/presentation/response/CreateAlbumPostsHttpResponse.java
  src/main/java/com/tf4/photospot/global/exception/GlobalExceptionHandler.java
  src/main/java/com/tf4/photospot/global/exception/domain/AlbumErrorCode.java
  src/main/java/com/tf4/photospot/post/application/request/PostSearchCondition.java
  src/main/java/com/tf4/photospot/post/application/request/PostSearchType.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostJdbcRepository.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostQueryRepository.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/album/application/AlbumServiceTest.java
  src/test/java/com/tf4/photospot/album/presentation/AlbumControllerTest.java
  src/test/java/com/tf4/photospot/post/application/PostServiceLockingTest.java
  src/test/java/com/tf4/photospot/post/application/PostServiceTest.java
  src/test/java/com/tf4/photospot/post/application/request/PostSearchConditionTest.java
  src/test/java/com/tf4/photospot/spring/docs/RestDocsSupport.java
  src/test/java/com/tf4/photospot/spring/docs/album/AlbumControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/post/PostControllerDocsTest.java
  src/test/java/com/tf4/photospot/support/TestFixture.java
Labels: docs, test, feat, MVP 2차
