Repository TF3-Project-PhotoSpot/photospot-be, pull requests merged in 2024-03, with the labels that each got.

#56 [Feat] 로그아웃 기능 구현 및 레디스 스크립트 추가
  .github/workflows/ci-cd.yml
  .github/workflows/code-analysis.yml
  build.gradle
  src/docs/asciidoc/api/auth/auth.adoc
  src/main/java/com/tf4/photospot/auth/application/AuthService.java
  src/main/java/com/tf4/photospot/auth/application/JwtService.java
  src/main/java/com/tf4/photospot/auth/application/response/ReissueTokenResponse.java
  src/main/java/com/tf4/photospot/auth/domain/JwtRepository.java
  src/main/java/com/tf4/photospot/auth/infrastructure/JwtRedisRepository.java
  src/main/java/com/tf4/photospot/global/config/redis/RedisConfig.java
  src/main/java/com/tf4/photospot/global/config/security/SecurityConfig.java
  src/main/java/com/tf4/photospot/global/config/security/SecurityConstant.java
  src/main/java/com/tf4/photospot/global/filter/CustomLogoutFilter.java
  src/main/java/com/tf4/photospot/global/filter/JwtTokenValidatorFilter.java
  src/main/resources/application.yml
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/auth/application/AuthServiceTest.java
  src/test/java/com/tf4/photospot/auth/application/JwtServiceTest.java
  src/test/java/com/tf4/photospot/auth/presentation/AuthControllerTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/AuthControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/SecurityController.java
  src/test/java/com/tf4/photospot/spring/docs/auth/SecurityControllerDocsTest.java
  src/test/resources/application.yml
Labels: docs, test, feat, setting, MVP 2차

#65 [Fix] 앨범 목록 조회
  src/main/java/com/tf4/photospot/album/infrastructure/AlbumJdbcRepository.java
  src/test/java/com/tf4/photospot/album/application/AlbumServiceTest.java
Labels: fix, test, MVP 2차

#60 [Feat] 북마크 추가
  src/docs/asciidoc/api/bookmark/bookmark.adoc
  src/main/java/com/tf4/photospot/bookmark/application/BookmarkService.java
  src/main/java/com/tf4/photospot/bookmark/application/request/CreateBookmark.java
  src/main/java/com/tf4/photospot/bookmark/domain/Bookmark.java
  src/main/java/com/tf4/photospot/bookmark/domain/BookmarkFolder.java
  src/main/java/com/tf4/photospot/bookmark/presentation/BookmarkController.java
  src/main/java/com/tf4/photospot/bookmark/presentation/request/AddBookmarkHttpRequest.java
  src/main/java/com/tf4/photospot/bookmark/presentation/response/AddBookmarkHttpResponse.java
  src/main/java/com/tf4/photospot/global/exception/domain/BookmarkErrorCode.java
  src/main/java/com/tf4/photospot/spot/application/SpotService.java
  src/main/java/com/tf4/photospot/user/application/request/LoginUserInfo.java
  src/main/java/com/tf4/photospot/user/domain/User.java
  src/test/java/com/tf4/photospot/auth/application/JwtServiceTest.java
  src/test/java/com/tf4/photospot/bookmark/application/BookmarkServiceTest.java
  src/test/java/com/tf4/photospot/bookmark/domain/BookmarkFolderTest.java
  src/test/java/com/tf4/photospot/bookmark/presentation/request/AddBookmarkHttpRequestTest.java
  src/test/java/com/tf4/photospot/spring/docs/bookmark/BookmarkControllerDocsTest.java
  src/test/java/com/tf4/photospot/support/TestFixture.java
  src/test/java/com/tf4/photospot/user/application/UserServiceTest.java
Labels: docs, test, feat, MVP 2차

#57 [Feat] 신고 API 추가
  src/docs/asciidoc/api/post/post.adoc
  src/main/java/com/tf4/photospot/global/exception/domain/PostErrorCode.java
  src/main/java/com/tf4/photospot/post/application/PostService.java
  src/main/java/com/tf4/photospot/post/application/response/ReportResponse.java
  src/main/java/com/tf4/photospot/post/domain/Post.java
  src/main/java/com/tf4/photospot/post/domain/Report.java
  src/main/java/com/tf4/photospot/post/domain/ReportRepository.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostQueryRepository.java
  src/main/java/com/tf4/photospot/post/presentation/PostController.java
  src/main/java/com/tf4/photospot/post/presentation/request/PostReportRequest.java
  src/main/java/com/tf4/photospot/post/presentation/request/SpotInfoDto.java
  src/main/java/com/tf4/photospot/post/presentation/response/ReportListResponse.java
  src/main/java/com/tf4/photospot/spot/domain/Spot.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/post/application/PostServiceTest.java
  src/test/java/com/tf4/photospot/post/domain/PostTest.java
  src/test/java/com/tf4/photospot/spring/docs/post/PostControllerDocsTest.java
Labels: docs, test, feat, MVP 2차

#79 [Refactor] 좋아요 기능 수정
  src/main/java/com/tf4/photospot/global/aop/Retry.java
  src/main/java/com/tf4/photospot/global/aop/RetryAspect.java
  src/main/java/com/tf4/photospot/global/exception/domain/PostErrorCode.java
  src/main/java/com/tf4/photospot/post/application/PostService.java
  src/main/java/com/tf4/photospot/post/application/response/PostAllResponse.java
  src/main/java/com/tf4/photospot/post/application/response/PostDetailResponse.java
  src/main/java/com/tf4/photospot/post/domain/Post.java
  src/main/java/com/tf4/photospot/post/domain/PostLike.java
  src/main/java/com/tf4/photospot/post/domain/PostLikeRepository.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostJdbcRepository.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostQueryRepository.java
  src/main/java/com/tf4/photospot/post/presentation/PostController.java
  src/test/java/com/tf4/photospot/album/application/AlbumServiceTest.java
  src/test/java/com/tf4/photospot/post/application/PostLikeConcurrencyTest.java
  src/test/java/com/tf4/photospot/post/application/PostServiceLockingTest.java
  src/test/java/com/tf4/photospot/post/application/PostServiceTest.java
  src/test/java/com/tf4/photospot/post/domain/PostTest.java
  src/test/java/com/tf4/photospot/spring/docs/album/AlbumControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/post/PostControllerDocsTest.java
  src/test/java/com/tf4/photospot/support/TestFixture.java
Labels: test, refactor, MVP 2차

#80 [Refactor] 방명록 상세 조회
  src/main/java/com/tf4/photospot/post/application/PostService.java
  src/main/java/com/tf4/photospot/post/application/response/PostAllResponse.java
  src/main/java/com/tf4/photospot/post/application/response/PostDetail.java
  src/main/java/com/tf4/photospot/post/application/response/PostDetailResponse.java
  src/main/java/com/tf4/photospot/post/application/response/WriterResponse.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostQueryRepository.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/post/application/PostServiceTest.java
  src/test/java/com/tf4/photospot/spring/docs/album/AlbumControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/post/PostControllerDocsTest.java
Labels: refactor, MVP 2차
