Repository TF3-Project-PhotoSpot/photospot-be, pull requests merged in 2024-01, with the labels that each got.

#32 [Feat] 스프링 시큐리티 설정
  build.gradle
  src/docs/asciidoc/api/auth/auth.adoc
  src/main/java/com/tf4/photospot/auth/application/AuthService.java
  src/main/java/com/tf4/photospot/auth/application/JwtService.java
  src/main/java/com/tf4/photospot/auth/application/response/LoginResponse.java
  src/main/java/com/tf4/photospot/auth/application/response/LoginTokenResponse.java
  src/main/java/com/tf4/photospot/auth/domain/OauthAttributes.java
  src/main/java/com/tf4/photospot/auth/presentation/AuthController.java
  src/main/java/com/tf4/photospot/auth/util/JwtProvider.java
  src/main/java/com/tf4/photospot/global/config/jwt/JwtConstant.java
  src/main/java/com/tf4/photospot/global/config/security/SecurityConfig.java
  src/main/java/com/tf4/photospot/global/config/security/SecurityConstant.java
  src/main/java/com/tf4/photospot/global/dto/LoginUserDto.java
  src/main/java/com/tf4/photospot/global/exception/domain/AuthErrorCode.java
  src/main/java/com/tf4/photospot/global/exception/domain/UserErrorCode.java
  src/main/java/com/tf4/photospot/global/filter/CustomAuthenticationFilter.java
  src/main/java/com/tf4/photospot/global/filter/CustomExceptionFilter.java
  src/main/java/com/tf4/photospot/global/filter/JwtTokenValidatorFilter.java
  src/main/java/com/tf4/photospot/global/filter/details/CustomAuthenticationEntryPoint.java
  src/main/java/com/tf4/photospot/global/filter/details/CustomAuthenticationProvider.java
  src/main/java/com/tf4/photospot/global/filter/details/CustomAuthenticationSuccessHandler.java
  src/main/java/com/tf4/photospot/global/filter/details/CustomAuthenticationToken.java
  src/main/java/com/tf4/photospot/global/filter/details/ErrorResponseFactory.java
  src/main/java/com/tf4/photospot/global/util/AuthorityConverter.java
  src/main/java/com/tf4/photospot/user/application/UserService.java
  src/main/java/com/tf4/photospot/user/application/response/OauthLoginUserResponse.java
  src/main/java/com/tf4/photospot/user/domain/Role.java
  src/main/java/com/tf4/photospot/user/domain/User.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/auth/application/AuthServiceTest.java
  src/test/java/com/tf4/photospot/auth/application/JwtServiceTest.java
  src/test/java/com/tf4/photospot/auth/presentation/AuthControllerTest.java
  src/test/java/com/tf4/photospot/mockuser/WithMockCustomUser.java
  src/test/java/com/tf4/photospot/mockuser/WithMockCustomerUserSecurityContextFactory.java
  src/test/java/com/tf4/photospot/spot/presentation/SpotControllerTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/AuthControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/SecurityController.java
  src/test/java/com/tf4/photospot/spring/docs/auth/SecurityControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/common/CommonController.java
  src/test/java/com/tf4/photospot/user/application/UserServiceTest.java
Labels: docs, test, feat, MVP 1차

#33 [Feat] 시큐리티 필터 분기처리 및 테스트코드 작성
  src/main/java/com/tf4/photospot/auth/application/AuthService.java
  src/main/java/com/tf4/photospot/auth/presentation/AuthController.java
  src/main/java/com/tf4/photospot/global/dto/LoginUserDto.java
  src/main/java/com/tf4/photospot/global/filter/JwtTokenValidatorFilter.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/auth/application/AuthServiceTest.java
  src/test/java/com/tf4/photospot/auth/presentation/AuthControllerTest.java
  src/test/java/com/tf4/photospot/mockobject/RestDocsAuthenticationPrincipalArgumentResolver.java
  src/test/java/com/tf4/photospot/mockobject/WithCustomMockUser.java
  src/test/java/com/tf4/photospot/mockobject/WithCustomerMockUserSecurityContextFactory.java
  src/test/java/com/tf4/photospot/spot/presentation/SpotControllerTest.java
  src/test/java/com/tf4/photospot/spring/docs/RestDocsSupport.java
  src/test/java/com/tf4/photospot/spring/docs/auth/AuthControllerDocsTest.java
  src/test/java/com/tf4/photospot/spring/docs/auth/SecurityController.java
Labels: docs, test, feat, refactor, MVP 1차

#38 [Feat] 시큐리티 설정 추가
  src/main/java/com/tf4/photospot/global/config/security/SecurityConfig.java
  src/main/resources/static/favicon.ico
  src/test/java/com/tf4/photospot/auth/presentation/AuthControllerTest.java
Labels: feat, refactor, MVP 1차

#39 [Feat/PS-68] 방명록 상세 목록 조회 API
  .github/workflows/ci-cd.yml
  build.gradle
  scripts/stop.sh
  src/docs/asciidoc/api/post/post.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/tf4/photospot/global/config/CustomHibernate5Templates.java
  src/main/java/com/tf4/photospot/global/config/JpaConfig.java
  src/main/java/com/tf4/photospot/global/dto/SlicePageDto.java
  src/main/java/com/tf4/photospot/global/exception/GlobalExceptionHandler.java
  src/main/java/com/tf4/photospot/global/exception/domain/CommonErrorCode.java
  src/main/java/com/tf4/photospot/global/util/PageUtils.java
  src/main/java/com/tf4/photospot/global/util/QueryDslUtils.java
  src/main/java/com/tf4/photospot/post/application/PostService.java
  src/main/java/com/tf4/photospot/post/application/request/PostListRequest.java
  src/main/java/com/tf4/photospot/post/application/request/SimplePostListRequest.java
  src/main/java/com/tf4/photospot/post/application/response/PostDetailResponse.java
  src/main/java/com/tf4/photospot/post/application/response/PostListResponse.java
  src/main/java/com/tf4/photospot/post/application/response/PostWithLikeStatus.java
  src/main/java/com/tf4/photospot/post/application/response/TagResponse.java
  src/main/java/com/tf4/photospot/post/application/response/WriterResponse.java
  src/main/java/com/tf4/photospot/post/domain/PostLike.java
  src/main/java/com/tf4/photospot/post/domain/PostLikeRepository.java
  src/main/java/com/tf4/photospot/post/domain/PostTag.java
  src/main/java/com/tf4/photospot/post/domain/PostTagRepository.java
  src/main/java/com/tf4/photospot/post/domain/Tag.java
  src/main/java/com/tf4/photospot/post/domain/TagRepository.java
  src/main/java/com/tf4/photospot/post/infrastructure/PostQueryRepository.java
  src/main/java/com/tf4/photospot/post/presentation/PostController.java
  src/main/java/com/tf4/photospot/spot/application/SpotService.java
  src/main/java/com/tf4/photospot/spot/infrastructure/SpotQueryRepository.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/auth/application/AuthServiceTest.java
  src/test/java/com/tf4/photospot/auth/application/JwtServiceTest.java
  src/test/java/com/tf4/photospot/auth/presentation/AuthControllerTest.java
  src/test/java/com/tf4/photospot/map/application/MapServiceTest.java
  src/test/java/com/tf4/photospot/map/infrastructure/KakaoMapClientTest.java
  src/test/java/com/tf4/photospot/map/infrastructure/KakaoMobilityClientTest.java
  src/test/java/com/tf4/photospot/post/application/PostServiceTest.java
  src/test/java/com/tf4/photospot/post/application/request/PostListRequestTest.java
  src/test/java/com/tf4/photospot/spot/application/SpotServiceTest.java
  src/test/java/com/tf4/photospot/spring/docs/RestDocsSupport.java
  src/test/java/com/tf4/photospot/spring/docs/post/PostControllerDocsTest.java
  src/test/java/com/tf4/photospot/support/IntegrationTestSupport.java
  src/test/java/com/tf4/photospot/support/RestClientTestSupport.java
  src/test/java/com/tf4/photospot/support/TestFixture.java
  src/test/java/com/tf4/photospot/user/application/UserServiceTest.java
Labels: docs, test, feat, MVP 1차

#40 [FIX] aws credentials 수정
  src/main/resources/application.yml
Labels: fix, infra

#42 [FEAT] 자신이 작성한 방명록의 장소 목록 API
  build.gradle
  lombok.config
  src/docs/asciidoc/api/spot/spot.adoc
  src/main/java/com/tf4/photospot/global/config/security/SecurityConfig.java
  src/main/java/com/tf4/photospot/global/exception/GlobalExceptionHandler.java
  src/main/java/com/tf4/photospot/spot/application/SpotService.java
  src/main/java/com/tf4/photospot/spot/application/response/SpotCoordResponse.java
  src/main/java/com/tf4/photospot/spot/infrastructure/SpotQueryRepository.java
  src/main/java/com/tf4/photospot/spot/presentation/SpotController.java
  src/main/java/com/tf4/photospot/spot/presentation/response/UserSpotHttpResponse.java
  src/main/java/com/tf4/photospot/spot/presentation/response/UserSpotListHttpResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tf4/photospot/auth/presentation/AuthControllerTest.java
  src/test/java/com/tf4/photospot/spot/application/SpotServiceTest.java
  src/test/java/com/tf4/photospot/spring/docs/spot/SpotControllerDocsTest.java
Labels: docs, feat, MVP 1차

#43 [FIX] Rest Docs 접근 허용
  src/main/java/com/tf4/photospot/global/config/security/SecurityConfig.java
  src/main/resources/static/docs/index.html
Labels: fix, docs
